@import "../../index.css";

.wavy-container {
    @apply h-[30vh]  bg-primary overflow-hidden relative;
}

.wavy-container__half-div {
    @apply absolute top-0 w-full;
    animation: wavy 100s infinite;
}
.wavy-container__line {
    @apply absolute top-[10vh] w-full;
    animation: wavy-reverse 100s infinite;
}

@keyframes wavy {
    0% {
        margin-left: 0;
        transform: translate3d(0, -25px, 0);
    }
    50% {
        margin-left: -1600px;
        transform: translate3d(10px, 5px, 0);
    }
    100% {
        margin-left: 0px;
        transform: translate3d(0, -25px, 0);
    }
}
@keyframes wavy-reverse {
    0% {
        margin-left: -1600px;
        transform: translate3d(10px, 5px, 0);
    }
    50% {
        margin-left: 0px;
        transform: translate3d(0, -25px, 0);
    }
    100% {
        margin-left: -1600px;
        transform: translate3d(10px, 5px, 0);
    }
}
